page-secondpage {

.button3 {
	position: absolute;
	top:50%;
	left: 34%;
	background-color: blue;
	
}
.background {
	background: url('../assets/images/ODR9390.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

}
